.keypad {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, 52px);
  column-gap: 20px;
  row-gap: 15%;

  /* min-width: 18%;
  height: 52px; */
}

.keypadRow {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.doubleRow {
  grid-row: span 2;
}
.primaryFont label {
  color: var(--primary-color);
}
.primaryBackground {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.doubleCol {
  grid-column: span 2;
}
